.login__form{
    width: 400px;
    background-color: #ffffff;
    color: black;
/*     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  */
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

.signup__form{
    width: 400px;
    background-color: #ffffff;
    color: black;
/*     display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; */
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

/* .community__form{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 2rem;
    padding-top: 1.5rem;
    flex-direction: column;
    border-radius: 10px;
} */

/* .actions{
} */

.login__button{
    width: 200px;
}
.signup__button{
    width: 200px;
}

.submit{
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;
    border: none;
}