// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: #141415;
    color: white;
}

.navBar{
    background-color: #1A1A1B;
    color: #ffffff;
}

/* #search{
    background-color: #2b2b2c;
    color: #8c8c8d;
} */
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.communities{
 /*    background-color: #1A1A1B;
    color: #ffffff; */
    width: 100%;
}