<% if account_signed_in? %>
    <div class="float-right">
        <%= link_to "Create New Community", new_community_path, class: "btn btn-outline-info"%>
    </div>
<% end %>
<% if @communities.size > 0 %>
    <% @communities.each do |community| %>

    <div class="container mr-3">
        <div class="card">
            <h1><%= link_to community.name, community %></h1>
            <%= simple_format community.rules %>
        </div>
    </div>

    <% end %>
<% else %>
    <p>No Communities Yet</p>
<% end %>
