<div class="container">
    <div class="row mt-6">
        <div class="col"> 
            <h2>Trending</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Trending1
        </div>
        <div class="col-sm-3">
            Trending2
        </div>
        <div class="col-sm-3">
            Trending3
        </div>
        <div class="col-sm-3">
            Trending4
        </div>
    </div>
    <div class="row mt-4">
        <div class="col"> 
            <h2>Popular Posts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            Posts 
        </div>
        <div class="col-4">
            <div class="sidebar">
                <p class="h5 mb-4">Popular Communities</p>
                <div class="card text-white bg-dark communities">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-dark">Cras justo odio</li>
                        <li class="list-group-item list-group-item-dark">Dapibus ac facilisis in</li>
                        <li class="list-group-item list-group-item-dark">Morbi leo risus</li>
                        <li class="list-group-item list-group-item-dark">Porta ac consectetur ac</li>
                        <li class="list-group-item list-group-item-dark">Vestibulum at eros</li>
                    </ul>
                </div>

            <%= link_to "View all", "", class: "btn btn-light m-3 container-fluid"%>
            </div>
        </div>
    </div>
</div>